html {
  //height: 100%;
  box-sizing: border-box;
  background: map_get($theme, 'page-bgColor');

  *, *::before, *::after {
    box-sizing: border-box;
  }
}


html, body, #app, .main-body {
  height: 100%;
}